<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duramas.simulaciongobiernopueblo">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_agriculture_blue"
        android:label="Simulacion"
        android:roundIcon="@drawable/ic_agriculture_blue"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimulacionGobiernoPueblo"
        tools:targetApi="31">
        <activity
            android:name=".ascensor.AscensorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".final_tarea.ActivityFinalTarea"
            android:exported="false"
            android:label="Tarea Final"
            android:theme="@style/Theme.SimulacionGobiernoPuebloConActionBar" />
        <activity
            android:name=".pueblo_gobierno.ActivityPuebloGobierno"
            android:exported="false"
            android:label="Pueblo Gobierno"
            android:theme="@style/Theme.SimulacionGobiernoPuebloConActionBar" />
        <activity
            android:name=".salud_cardio_vascular.ActivitySaludCardioVascular"
            android:exported="false"
            android:theme="@style/Theme.SimulacionGobiernoPueblo" />
        <activity
            android:name=".test_actitudes.TestActitudesActivity"
            android:exported="false"
            android:label="Test De Carrera y Actitudes"
            android:theme="@style/Theme.SimulacionGobiernoPueblo" />
        <activity
            android:name=".frio_frio.ActivityFrioFrio"
            android:exported="false"
            android:label="Simulacion Venta de frozen"
            android:theme="@style/Theme.SimulacionGobiernoPuebloConActionBar" />
        <activity
            android:name=".animacion.ActivityAnimacion"
            android:exported="false"
            android:label="Animacion" />
        <activity
            android:name=".parqueo.ActivityParqueo"
            android:exported="false"
            android:label="Simulacion Parqueo"
            android:theme="@style/Theme.SimulacionGobiernoPuebloConActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SimulacionGobiernoPueblo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>